h3,h5 {
    display: inline;
    clear: none;
}
.simple-board {
    border: .4em orange solid;
    background-color: black;
    color: orange;
    font-family: monospace;
    padding: .4em;
    width: 25em;
    font-size: larger;
}
.simple-board td.deptime, .simple-board td.dest {
    padding: .2em;
}
.simple-board .deptime {
    text-align: right;
    width: 5em;
}
.simple-board .time {
    text-align: center;
}