h3,h5 {
    display: inline;
    clear: none;
}
.simple-board {
    border: .4em orange solid;
    background-color: black;
    color: orange;
    font-family: monospace;
    padding: .4em;
    width: 25em;
    font-size: larger;
}
.simple-board td.deptime, .simple-board td.dest {
    padding: .2em;
}
.simple-board .deptime {
    text-align: right;
    width: 5em;
}
.simple-board .time {
    text-align: center;
}
.stop-board {
    border: .4em orange solid;
    background-color: black;
    color: orange;
    font-family: monospace;
    padding: .4em;
    width: 15em;
    font-size: larger;
    float: left;
    margin: .5em;
}
.stop-board .dest {
    font-weight: bold;
}
.stop-board .stop-time {
    text-align: right;
}
.clearfix {
    clear: both;
}

div.nse-board {
    position: relative;
    width: 500px;
    height: 500px;
}
.nse {
    position: absolute;
    z-index: 1;
    left: 19%;
    top: 48.5%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 310px;
}
.nse .deptime {
    width: 18%;
}
.nse .status {
    width: 25%;
    color: yellow;
}
.nse .plat {
    width: 8%;
}
.nse .dest {
    display: inline-block;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.nse .time {
    text-align: center;
}
.half-row {
    height: 7px;
}